

body{
  background-color: pink;
  text-align: center;
  font-family:'Dosis', sans-serif;
  color: white;
}

h1{
  color: white;
}

#trash{
  border-radius: 50px;
}

#trivia{
  display: none;
}

#correct{
  display: none;
}

#incorrect{
  display: none;
}


p{
  font-size: 20px;
  color: white;
}
